body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
#navbar{
    background-color: white;
    padding: 15px 20px;
    border-bottom: 1px solid #e9e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar h1{
    font-size: 1.5em;
    margin: 0
}
.filter{
    margin-left:10px ;
}
.main-layout{
    display: flex;
    min-height: calc(100vh-66px)
}
#sidebar{
    width: 250px;
    background-color: white;
    padding: 20px;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0,0,0,0,1);
}
#sidebar from label,
#sidebar from input[type='text'],
#sidebar from select{
    display: block;
    margin-bottom: 10px;
    width: 100px;
}
#sidebar from input[type='text'],
#sidebar from select,
#sidebar from button{
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#add-fleet-btn{
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top:15px ;
}
#main-content-area{
    flex-grow: 1;
    padding: 20px;
}
.cards-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
}
.fleet-card{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0,0.5);
}
.fleet-card img{
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}
.fleet-card.status{
    font-weight: bold;
}
.fleet-card.available{
    color: green;
}
.card-buttons button{
    margin-top: 10px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}
